/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, sans-serif;
}

/* Page Layout */
body {
  background: linear-gradient(135deg, #66807b, #9face6);
  min-height: 100vh;
  display: flex;
}

/* Sidebar */
.sidebar {
  width: 220px;
  background: #1f2933;
  color: #fff;
  padding: 20px;
}

.sidebar h3 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 20px;
  border-bottom: 1px solid #374151;
  padding-bottom: 10px;
}

/* Main Content */
body > div:not(.sidebar) {
  flex: 1;
  padding: 30px;
}

/* App Title */
h2 {
  margin-bottom: 20px;
  color: #1f2933;
}

/* Inputs & Selects */
input,
select {
  padding: 10px;
  width: 220px;
  border: none;
  border-radius: 6px;
  outline: none;
  margin-right: 10px;
  margin-bottom: 10px;
}

/* Buttons */
button {
  padding: 10px 16px;
  border: none;
  border-radius: 6px;
  background: #2563eb;
  color: #fff;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background: #1d4ed8;
}

/* Weather Box */
.weather-box {
  margin-top: 20px;
  background: #ffffff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
  max-width: 400px;
}

/* Compare Box */
.compare-box {
  margin-top: 30px;
  background: #ffffff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
  max-width: 500px;
}

.compare-box h3 {
  margin-bottom: 15px;
  color: #111827;
}

/* Compare Result */
.compare-result {
  margin-top: 15px;
  padding: 10px;
  background: #f3f4f6;
  border-radius: 6px;
  color: #111827;
}

/* Favorites List */
#favList {
  list-style: none;
  padding: 0;
}

/* Each favorite item */
#favList li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #374151;
  color: #fff;
  padding: 8px 10px;
  margin-bottom: 10px;   /* المسافة بين الـ li */
  border-radius: 6px;
  font-size: 14px;
}

/* City name */
#favList li span {
  cursor: pointer;
}

#favList li span:hover {
  text-decoration: underline;
}

/* Delete button */
#favList li button {
  background: #ef4444;
  border: none;
  color: #fff;
  width: 26px;       
  height: 26px;
  border-radius: 50%; 
  font-size: 14px;
  cursor: pointer;
  padding: 0;
  line-height: 1;
  transition: 0.3s;
}

#favList li button:hover {
  background: #dc2626;
}
